* {
  box-sizing: border-box;
}

.input-container {
  width: 100%;
  max-width: 320px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.input-input-type-text {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.input-input-type-text::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}